.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .75rem;
}

.logo {
    display: flex;
}

.logo__image {
    user-select: none;
    -webkit-user-drag: none;
}

.logo__title {
    margin: auto .75rem;
    font-size: 2rem;
}

.search {
    width: 100%;
    margin-block: auto;
    position: relative;
}

.search__input {
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
}

.search__input:not(:focus) + .search__results:not(:hover),
.search__results:empty {
    display: none;
    visibility: hidden;
}

.search__results {
    position: absolute;
    width: 100%;
    background-color: #3b3b3b;
    border-radius: .5rem;
    margin-top: .5rem;
    overflow: clip;
}

.search__item {
    list-style: none;
}

.search__item + .search__item {
    border-top: 1px solid #5b5b5b;
}

.search__item:hover {
    background-color: #5b5b5b;
}

.search__item__link {
    display: block;
    padding: .75rem;
    text-decoration: none;
    color: unset;
}

.forecast {
    flex-grow: 1;
    display: grid;
    grid-template-areas:
        "a a c"
        "a a c"
        "b b c";
    gap: .75rem;
    padding: .75rem;
}

.forecast__current {
    grid-area: a;
}

.forecast__hourly {
    grid-area: b;
}

.forecast__daily {
    grid-area: c;
}
